body {
  margin: 0px;
  width: 1920px;
}
.top-banner {
  height: 940px;
  display: flex;
  background-image: url("/images/50f89e52ab59c3e86ae1ed72ba98a032.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 65px 245px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo-1 {
  width: 84px;
  height: 84px;
  margin-right: 8px;
}
.logo-2 {
  width: 145px;
  height: 24px;
}
.banner-title p {
  width: 399px;
  color: #fff;
  font-size: 24px;
  font-weight: 400px;
  padding: 18px 30px;
  background-color: #012a4a;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-top: 57px;
  margin-bottom: 30px;
}
.banner-title h1 {
  width: 785px;
  color: #003b60;
  font-size: 60px;
  font-style: normal;
  line-height: normal;
  margin: 0;
  margin-bottom: 30px;
}
.price p {
  color: #003b60;
  font-size: 24px;
  margin: 0;
}
.amount {
  display: flex;
  align-items: center;
}
.amount small {
  color: #608aab;
  font-size: 24px;
  text-decoration-line: line-through;
  margin-right: 15px;
}
.amount h3 {
  color: #012a4a;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}

.order button {
  width: 262px;
  color: #092e67;
  font-size: 24px;
  font-weight: 400px;
  background-color: #f0e615;
  border: none;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 22px 0;
  margin: 52px 0;
}
.order i {
  margin-left: 15px;
}
.order p {
  width: 638px;
  font-size: 30px;
  margin: 0;
}

.banner-right {
  width: 702px;
  height: 702px;
  border: 1px solid #003b60;
  border-radius: 50%;
  margin-left: 90px;
  margin-top: 75px;
}
.circle-1 {
  width: 60px;
  height: 60px;
  background-color: #003b60;
  position: absolute;
  margin-top: 180px;
  border-radius: 50%;
}
.circle-2 {
  width: 31px;
  height: 31px;
  background-color: #003b60;
  position: absolute;
  border-radius: 50%;
  margin-left: 750px;
  margin-top: 350px;
}
.box {
  display: flex;
  margin-left: 665px;
  margin-top: 80px;
  position: absolute;
}
.box div {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.box .yellow {
  background-color: #f0e615;
}
.box .blue {
  background-color: #003b60;
}

/* .blue-gray {
  width: 250px;
  height: 250px;
  position: absolute;
  background-color: #003b60;
  border-radius: 50%;
  opacity: 0.5;
  margin-bottom: 50px;
} */

.banner-img {
  width: 665px;
  height: 652px;
  margin-top: 60px;
  margin-left: 60px;
}

.phone-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  background-color: #f0e615;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 10px 0;
  margin-left: 200px;
  margin-top: -5px;
}
.phone-number i {
  font-size: 38px;
  margin-right: 15px;
}
.phone-number h2 {
  margin: 0px;
  color: #012a4a;
  font-size: 50px;
  font-weight: 700px;
}

.phone h4 {
  width: 400px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  background-color: #012a4a;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 15px 0;
  margin: 0;
  margin-left: 50px;
}

.product-title {
  width: 1290px;
  margin: auto;
}
.product-title p {
  font-size: 20px;
  margin: 0;
  padding-top: 90px;
  padding-bottom: 80px;
}

.product-detail {
  display: flex;
  justify-content: space-between;
}
.pant-info h3 {
  width: 600px;
  color: #003b60;
  font-size: 44px;
}
.pant-info ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding: 0;
}
.pant-info li {
  margin-bottom: 24px;
  color: #003b60;
  font-size: 24px;
}
.pant-info i {
  margin-right: 17px;
}

.order-info {
  background: linear-gradient(180deg, #0e161f 0%, rgba(14, 22, 31, 0) 52.08%, rgba(14, 22, 31, 0.96) 100%);
  height: 1145px;
  margin-top: -410px;
}
.pant-size {
  margin-left: 950px;
  padding-top: 80px;
}
.pant-size h3 {
  color: #f0e615;
  font-size: 34px;
  margin-bottom: 0;
}
.sizes {
  display: flex;
}
.size {
  width: 100px;
  height: 100px;
  background-color: #fff;
  margin-right: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border: 1px solid #f0e615;
  border-radius: 50%;
}
.size p {
  color: #012a4a;
  font-size: 44px;
}

.order-btn {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 500px;
}
.order-btn h2 {
  width: 770px;
  text-align: center;
  color: #fff;
  font-size: 50px;
  margin-bottom: 0px;
}

.pants {
  width: 1290px;
  margin: auto;
  margin-top: 108px;
  display: flex;
}
.pant {
  width: 300px;
  padding: 25px 20px;
  align-items: center;
  margin-left: 31px;
}
.pant img {
  width: 100%;
  height: 225px;
  margin-bottom: 22px;
}
.pant p {
  color: #fff;
  font-size: 16px;
  background-color: #012a4a;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 15px 42px;
  margin: 0;
}

hr {
  width: 1290px;
  margin-top: 80px;
  margin-bottom: 67px;
  border: none;
  border-top: 2px dotted #003b60;
}

.features {
  width: 1290px;
  margin: auto;
}
.features h2 {
  color: #003b60;
  font-size: 44px;
  text-align: center;
  margin-bottom: 73px;
}
.features ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
}
.features ul li {
  color: #003b60;
  font-size: 20px;
  margin-bottom: 30px;
}
.features ul li i {
  margin-right: 10px;
}

.features-img img {
  width: 100%;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
.circle-play {
  width: 128px;
  height: 128px;
  background-color: #ececec52;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  margin-left: 550px;
  position: absolute;
  border-radius: 50%;
}
.circle-play i {
  color: #f0e615;
  font-size: 92px;
  height: 92px;
  border: 5px solid #f0e615;
  border-radius: 50%;
}

.guidelines {
  width: 1290px;
  margin: auto;
  text-align: center;
  margin-top: 65px;
}
.guidelines h2 {
  color: #003b60;
  font-size: 34px;
}
.guidelines p {
  color: #003b60;
  font-size: 22px;
  border: 1px solid #003b60;
  margin: auto;
  padding: 18px;
  margin-bottom: 40px;
}
.pant-amount {
  background-image: url("/images/434\ 1.png");
  background-size: cover;
  width: 900px;
  height: 700px;
  margin: auto;
  margin-bottom: 80px;
}
.pant-amount h3 {
  color: #fff;
  font-size: 44px;
  margin-bottom: 0px;
  margin-top: 80px;
  padding-top: 250px;
}
.pant-amount p {
  color: #fff;
  font-size: 24px;
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.clients {
  width: 1290px;
  margin: auto;
}
.client-info {
  display: flex;
}
.client {
  width: 400px;
  text-align: center;
  margin-right: 57px;
  margin-bottom: 80px;
}
.client img {
  width: 130px;
}
.client-comment {
  color: #003b60;
  background-color: #fff;
  text-align: center;
  margin-top: -70px;
  padding: 30px;
  padding-top: 80px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.client-comment h4 {
  font-size: 28px;
  margin: 0;
}
.client-comment hr {
  width: 100%;
  margin: 0;
  border: none;
  border-top: 2px dotted #003b60;
}
.client:hover .client-comment {
  color: #fff;
  background-color: #003b60;
  transition: 1s;
}
.client:hover .client-comment hr {
  border-top: 2px dotted #f0e615;
  transition: 1s;
}
.arrow {
  text-align: center;
  margin-bottom: 80px;
}
.arrow i {
  color: #003b60;
  font-size: 57px;
  margin-right: 20px;
}
.arrow i:hover {
  color: #fff;
  background-color: #003b60;
  border-radius: 50%;
  transition: 0.3s;
}

.order-form {
  background-image: url("/images/1089742_ONVKNN0.jpg");
  padding-bottom: 150px;
}
.order-form h1 {
  color: #fff;
  font-size: 44px;
  text-align: center;
  padding-top: 80px;
}
.form {
  color: #fff;
  width: 1290px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.form-left p {
  font-size: 24px;
}
.form-left input {
  width: 95%;
  margin-bottom: 30px;
  padding: 12px;
}
.payment {
  width: 100%;
}
.payment-top {
  background-color: #fff;
  padding: 24px;
  border-top-left-radius: 50px;
}
.payment-top h5 {
  color: #080422;
  font-size: 22px;
  margin: 0;
}
.payment-top p {
  color: #080422;
  font-size: 14px;
}
.payment-top p i {
  margin-right: 10px;
  color: #fff;
  background-color: #f0e615;
}
.payment-bottom {
  background-color: #003b60;
  margin-top: -24px;
  padding: 10px 24px;
  border-bottom-right-radius: 25px;
}
.payment-bottom div {
  width: 15px;
  height: 15px;
  background-color: #003b60;
  transform: rotate(45deg);
  margin-top: -15px;
  margin-left: 55px;
}
.payment-bottom p {
  margin: 0;
}
.form-right p {
  font-size: 22px;
}
.form-right table {
  width: 463px;
  border: 1px solid #fff;
  padding: 16px 35px;
  background-color: rgba(0, 0, 0, 0.342);
}
.form-right table thead {
  font-size: 22px;
}
.form-right table tbody {
  font-size: 18px;
}
.form-right table tbody tr {
  margin-bottom: 50px !important;
}
.form-right table tbody p {
  font-size: 18px;
  margin: 0;
}

.links {
  width: 1400px;
  background-color: #003b60;
  position: absolute;
  margin-top: -150px;
  padding: 50px 100px;
  margin-left: 150px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.links-info {
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.links-info h5 {
  font-size: 24px;
  margin-bottom: 20px;
}
.underline {
  width: 60px;
  border-bottom: 3px solid #f0e615;
}
.logo-img {
  display: flex;
  flex-direction: column;
}
.order-number p {
  color: #f0e615;
  font-size: 24px;
}
.order-number h4 {
  color: #f8f8f8;
  font-size: 40px;
  margin: 0;
}

footer {
  background-image: url("/images/bunch-twisted-jeans-close-up.png");
}
.social-media {
  padding-top: 200px;
  padding-bottom: 100px;
  text-align: center;
}
.icons img {
  margin-right: 20px;
  width: 62px;
  height: 60px;
}
.social-media p {
  color: #fffeff;
  font-size: 22px;
  margin: 0;
  margin-top: 68px;
}
.social-media p span {
  color: #f0e615;
  font-size: 26px;
}
